<ion-card>
  <img src="https://gps-trace.com/assets/img/petovik/main.svg" style="width: 70%;"/>
  <ion-card-header>
    <ion-card-title>Registrarse</ion-card-title>
    <ion-card-subtitle>Bienvenido a Pet Smart </ion-card-subtitle>
  </ion-card-header>
  <form [formGroup]="formRegistro">
    <ion-card-content>
      
      <ion-input formControlName="email" [(ngModel)]="correo" label="Ingrese su correo" labelPlacement="floating" type="mail"></ion-input>
      <div *ngIf="this.formRegistro.controls?.['email']?.touched && this.formRegistro.controls?.['email']?.invalid">
        <ion-text *ngIf="errorControl.email.errors?.required">
          Correo es requerido
        </ion-text>
      </div>

      <ion-input formControlName="password"  [(ngModel)]="contrasena" label="Contraseña" labelPlacement="floating" type="password"></ion-input>
      <ion-input label="Confirme su Contraseña" labelPlacement="floating" type="password"></ion-input>
      <div *ngIf="this.formRegistro.controls?.['password']?.touched && this.formRegistro.controls?.['password']?.invalid">
        <ion-text *ngIf="errorControl.password.errors?.required">
          Contraseña es requerida
        </ion-text>
      </div>

      <br>
      <a href= "" click= "regresar()" ><h5>¿Ya tienes cuenta? Inicia sesión</h5></a>

      <ion-button expand="block" (click)="registrarFireBase()" id="open-loading"><ion-ripple-effect></ion-ripple-effect>Ingresar</ion-button>
      <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="1200"></ion-loading>

    </ion-card-content>
  </form>
</ion-card>
