<h2>Bienvenido a PetSmart</h2>
<a href="lol"><img src="https://files.catbox.moe/tik13f.png" style="width:100%"> </a>
<ion-card class="carrusel"> 
  <ion-card-title style="font-size: 16px;"> Veterinarias afiliadas </ion-card-title>
  <ion-card-content>
    <ion-card>
      <ion-card-content>
        <h3>Nombre</h3>
      </ion-card-content>
    </ion-card>
    <img src="https://files.catbox.moe/by5wx9.png">

  </ion-card-content>
</ion-card>
  <div id="out"><ion-button id="salir" expand="block" (click)="logoutUsuario()">Salir</ion-button></div>

