<h2>Bienvenido a PetSmart</h2>
<a href="lol"><img src="https://files.catbox.moe/tik13f.png" style="width:100%"> </a>
<ion-card class="carrusel"> 
  <ion-card-title style="font-size: 16px;"> Veterinarias afiliadas </ion-card-title>
  <ion-card-content>
    <div><p><img src="https://i.pinimg.com/736x/d5/09/d4/d509d46a07a289610b5b66a60b8fda54.jpg" style="float:left;width:30%;margin-right:10px;">
      Nombre: Angélica Muñoz <br>Especialista en animales exóticos.</p></div><br>
      <div><p><img src="https://i.pinimg.com/736x/d5/09/d4/d509d46a07a289610b5b66a60b8fda54.jpg" style="float:left;width:30%;margin-right:10px;">
        Nombre: Claudio Vega <br>Operaciones en caninos y felinos disponibles desde Enero 2025.</p></div><br>
      <div><p><img src="https://i.pinimg.com/736x/d5/09/d4/d509d46a07a289610b5b66a60b8fda54.jpg" style="float:left;width:30%;margin-right:10px;">
      Nombre: Minerva Flores <br>Reserve su control anual desde el 20 de este mes.</p></div>


  </ion-card-content>
</ion-card>
  <div id="out"><ion-button id="salir" expand="block" (click)="logoutUsuario()">Salir</ion-button></div>

