<ion-card class="carrusel">
  <ion-card-content>
    <img class="perro" src="https://assets.petco.com/petco/image/upload/f_auto,q_auto:best/dog-lp_2up_new-dog-guide_puppy_260x346.png" style="width:50%; justify-content: center; display: flex;">
  </ion-card-content>
<ion-grid [fixed]="true">

  <div *ngIf="u"> 
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input label="Nombre"  [readonly]="true">{{u.nombre}}</ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input label="Correo" [readonly]="true">{{u.correo}}</ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input label="Contraseña"  [readonly]="true">{{u.contrasena}}</ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  </div>
</ion-grid>

<ion-button (click)="eliminarUsuario()" color="danger">Eliminar Cuenta</ion-button>
