<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="agenda">   
          <ion-icon name="calendar"></ion-icon>
          Alarmas
        </ion-segment-button>
        <ion-segment-button value="front-page">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-segment-button>
        <ion-segment-button value="pets">
          <ion-icon name="paw-outline"></ion-icon>
          Mascotas
        </ion-segment-button>
        <ion-segment-button value="perfil-u">
          <ion-icon name="person-circle-outline"></ion-icon>
          Perfil
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
  </ion-content>